@import url('https://fonts.googleapis.com/css?family=Chicle|Faster+One|Monoton');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500');

*, *:before, *:after {
  box-sizing: border-box;
}

body {
	height: 100vh;
	background-size:cover;
	margin: 0;
	font-family: 'Chicle', cursive;
	cursor: pointer;
}

.wrapper {
	display: flex;
	justify-content: center;
	text-shadow: 1px 1px 2px black, 0 0 1px blue, 0 0 1px darkblue;
}

.logo {
	max-height: 100px;
  max-width: 100px;
}

.nav {
	margin: 20px 15px 0;
	font-size: 30px;
}

/*** index ****/

.cal-description.index-description {
	text-transform: none;
	width: auto;
	padding: 8px;
	transform: translateX(150px) translateY(40px);
}

.cal-description.index-description.on {
	transform: translateX(10px) translateY(40px);
}

.nav--index {
	display: flex;
	flex-direction: column;
	height: 94vh;
	justify-content: space-between;
}

.top {
	display: flex;
	justify-content: space-between;
}

.bottom {
	display: flex;
	justify-content: center;
}

.bottom > * {
	margin: 20px;
}

.little-fish {
	display: none;
}

.wrapper--image {
	height: 400px;
	width: 400px;
	background: url('images/selfie.jpg');
	background-position: 25% 180%;
	margin: 40% auto;
}

.footer {
	font-size: 10px;
	bottom: 5px;
	left: 0;
	right: 0;
	text-align: center;
	text-align: center;
	color: grey;
}

a:link {
	color: black;
  text-decoration: none;
}

a:hover {
	color: #f2f2f2;
  text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

.imageCycle1{
    background:url(images/fridge.jpg);
    background-position: center;
    background-size: 50px;


}
.index-background{
    background:url(images/fish.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.imageCycle3{
    background:url(images/glass.jpg);
    background-position: center;
}

.imageCycle4{
    background:url(images/swish.jpg);
    background-position: center;
    background-size: 200px;
}

.about {
  resize: both;
  border: none;
  display: block;
  width: 100%;
  height: 360px;
}

/*** bandz ****/

.nav.bandz {
	margin-bottom: 0px;
}

.little-squiggly-face {
	text-align: right;
	margin: 0;
	padding: 0;
	margin-right: 10%;
	color: white;
}

ul.bandslist {
	padding: 0 20px;
}

ul.bandslist > li {
	margin: 0 6px;
	list-style: none;
}

ul.bandslist > ul > li {
	list-style: none;
}

ul.bandslist > ul > li:before {
	list-style: none; 
	content: '✩';
	font-size: 10px;
	margin: 0 2px;
}

ul.bandslist > ul > li.description:before {
	content: none;
	list-style: none;
}

.bandname {
	font-family: 'Faster One', cursive;
	font-size: 26px;
}

ul.bandslist > li.poolparty {
	font-family: 'Monoton', cursive;
	font-size: 22px;
	margin-bottom: 0px;
}

ul.bandslist > li.poolparty > a:hover {
	color: #f2f2f2;
}

/***** cal ******/
.container--cal {
	margin: 20px;
}

.cal-description {
	font-family: sans-serif;
	font-size: 12px;
	font-style: italic;
	position: absolute;
	background: rgb(170, 170, 170);
	color: white;
	text-shadow: 2px 2px 5px black;
	padding: 0px 8px;
	width: 170px;
	text-align: center;
	font-weight: 200;
	text-transform: lowercase;
	opacity: 0;
	transform: translateX(250px);
	transition: all .2s;
}

.container--cal > ul > li {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 14px;
	font-weight: 500;
}

.cal-description.on {
	transform: translateX(100px);
	opacity: 1;
}

.container--cal > ul > li.past {
	color: rgba(0,0,0,.6);
	text-decoration: line-through;
	font-size: 8px;
	transition: all .2s;
}

.container--cal > ul > li.past.fourteen {
	font-size: 14px;
}

@media screen and (max-width: 450px) {
	#mydiv {
		top: 0;
		left: 0;
		bottom: 0;
		margin: 0;
		padding: 10% 0;
		width: 100%;
		border: none;
		box-shadow: none;
	}

  .nav {
    flex-direction: column;
	}
	
	.index-background {
		background: none;
	}

	.little-fish {
		display: block;
		position: fixed;
		top: 46%;
		left: 46%;
	}

	/*** bandz ****/
	.little-squiggly-face {
		color: black;
	}
}
