body {
		height: 100vh;
    background-size:cover;
		margin: 0;
		font-family: Helvetica, sans-serif;
}

.wrapper {
	display: flex;
	justify-content: center;
	text-shadow: 1px 1px 2px black, 0 0 1px blue, 0 0 1px darkblue;
}

#mydiv {
	padding: 10px;
	position: absolute;
	top: 10%;
	left: 0;
	right: 0;
	max-width: 500px;
	height: 600px;
	text-align: center;
	cursor: move;
	background-size: cover;
}

.logo {
	margin: -10px 0;
	height: 100px;
}

.nav {
	display: flex;
	justify-content: space-between;
	margin: 15px 15px;
}

.wrapper--image {
	-webkit-clip-path: polygon(10% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	height: 400px;
	width: 400px;
	background: url('images/selfie.jpg');
	background-position: 25% 180%;
	margin: 40% auto;
}

.footer {
	position: absolute;
	bottom: 5px;
	left: 0;
	right: 0;
	text-align: center;
	margin-top: 10px;
	text-align: center;
	color: darkblue;
}

a:link {
	font-size: 42px; text-align: center; 
	text-shadow: 1px 1px 2px black, 0 0 2px blue, 0 0 1px darkblue, 1px 1px 10px darkgreen;
  text-decoration: none;
}
a:hover {
	color:black; font-size: 42px; 
	text-align: center; text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  text-decoration: none;
}

.imageCycle1{
    background:url(images/fridge.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imageCycle2{
    background:url(images/fish.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imageCycle3{
    background:url(images/glass.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imageCycle4{
    background:url(images/swish.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imageCycle5{
    background:url(images/swish.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imageCycle6{
    background:url(images/swish.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.about {
  resize: both;
  border: none;
  display: block;
  width: 100%;
  height: 360px;
  
}

.about2 {

}

@media (max-width: 450px) {
	#mydiv {
		top: 0;
		left: 0;
		bottom: 0;
		margin: 0;
		padding: 10% 0;
		width: 100%;
		border: none;
		box-shadow: none;
	}
}


