body {
		height: 100vh;
    background-size:cover;
		margin: 0;
		font-family: "Times New Roman", Courier, monospace;
		cursor: pointer;
}

.wrapper {
	display: flex;
	justify-content: center;
	text-shadow: 1px 1px 2px black, 0 0 1px blue, 0 0 1px darkblue;
}

#mydiv {
	padding: 10px;
	position: absolute;
	top: 10%;
	left: 0;
	right: 0;
	max-width: 500px;
	height: 400px;
	text-align: center;
	cursor: move;
	background-size: cover;
}

.logo {
	max-height: 100px;
  max-width: 100px;
}


.nav {
	margin: 20px 15px;
	font-size: 30px;
}


.wrapper--image {
	height: 400px;
	width: 400px;
	background: url('images/selfie.jpg');
	background-position: 25% 180%;
	margin: 40% auto;
}

.footer {
	position: absolute;
	font-size: 10px;
	bottom: 5px;
	left: 0;
	right: 0;
	text-align: center;
	margin-top: 10px;
	text-align: center;
	color: grey;
}

a:link {
	color: black;
  text-decoration: none;
}

a:hover {
	color: #f2f2f2;
  text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

.imageCycle1{
    background:url(images/fridge.jpg);
    background-position: center;
    background-size: 50px;


}
.index-background{
    background:url(images/fish.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:;

}

.imageCycle3{
    background:url(images/glass.jpg);
    background-position: center;


}

.imageCycle4{
    background:url(images/swish.jpg);
    background-position: center;
    background-size: 200px;


}




.about {
  resize: both;
  border: none;
  display: block;
  width: 100%;
  height: 360px;

}

.about2 {

}

@media (max-width: 450px) {
	#mydiv {
		top: 0;
		left: 0;
		bottom: 0;
		margin: 0;
		padding: 10% 0;
		width: 100%;
		border: none;
		box-shadow: none;
	}

  .nav {
    flex-direction: column;
  }
}
